spring:
  docker:
    compose:
      lifecycle-management: start-only

  data:
    redis:
      host: localhost
      port: 6379
  output:
    ansi:
      enabled: always

grpc:
  server:
    port: 9098

debug: false
logging:
  level:
    "[org.springframework.boot.autoconfigure]": INFO