spring:
  application:
    name: ledger-core
  
  datasource:
    url: jdbc:postgresql://localhost:5432/ledger_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
  
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        "[format_sql]": true

  docker:
    compose:
      lifecycle-management: start-only

  data:
    redis:
      host: localhost
      port: 6379
  output:
    ansi:
      enabled: always

grpc:
  server:
    port: 9098

debug: false
logging:
  level:
    "[org.springframework.boot.autoconfigure]": INFO