apiVersion: v1
kind: Service
metadata:
  name: ledger-core
  labels:
    app: ledger-core
    app.kubernetes.io/name: ledger-core
    app.kubernetes.io/component: backend
    app.kubernetes.io/part-of: double-entry-ledger
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
    - name: grpc
      port: 9098
      targetPort: 9098
      protocol: TCP
  selector:
    app: ledger-core
