apiVersion: v1
kind: Service
metadata:
  name: ledger-gateway
  labels:
    app: ledger-gateway
    app.kubernetes.io/name: ledger-gateway
    app.kubernetes.io/component: api-gateway
    app.kubernetes.io/part-of: double-entry-ledger
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8081
      targetPort: 8081
      protocol: TCP
  selector:
    app: ledger-gateway
