apiVersion: v1
kind: Service
metadata:
  name: kafka-ui
  labels:
    app: kafka-ui
    app.kubernetes.io/name: kafka-ui
    app.kubernetes.io/component: observability
    app.kubernetes.io/part-of: double-entry-ledger
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: kafka-ui
