name: CD - Build & Push Docker Images

on:
  push:
    branches: [ "develop" ]

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        include:
          - service: ledger-core
            context: .
            file: apps/core/Dockerfile
          - service: ledger-gateway
            context: .
            file: apps/gateway/Dockerfile
          - service: ledger-audit
            context: .
            file: apps/audit/Dockerfile

    steps:
      - uses: actions/checkout@v4

      - name: Lowercase repo owner
        run: echo "IMAGE_NAMESPACE=ghcr.io/${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push ${{ matrix.service }}
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.file }}
          push: true
          tags: |
            ${{ env.IMAGE_NAMESPACE }}/${{ matrix.service }}:latest
            ${{ env.IMAGE_NAMESPACE }}/${{ matrix.service }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
